<div class="dashboard-container">
  <!-- <header class="dashboard-header">
    <h1>Transactions Overview</h1>
    <div class="actions">
      <div class="date-picker">
        <input type="date" [value]="dateRange.start" (change)="loadTransactions()">
        <span>to</span>
        <input type="date" [value]="dateRange.end" (change)="loadTransactions()">
      </div>
      <button class="btn-export">Export Data</button>
    </div>
  </header> -->

  <div class="summary-cards" *ngIf="summary">
    <div class="card">
      <h3>Total Payments</h3>
      <p class="amount">₹{{summary.totalAmount | number:'1.2-2'}}</p>
    </div>
    <div class="card">
      <h3>Number of Transactions</h3>
      <p>{{summary.transactionCount}}</p>
    </div>
    <div class="card">
      <h3>Success Rate</h3>
      <p>{{summary.successRate | number:'1.2-2'}}%</p>
    </div>
  </div>

  <!-- Transaction Table -->
  <app-transaction-table 
    [transactions]="transactions">
  </app-transaction-table>
</div>